.main {
    margin-top: 5%;
}

.inside-card {
    padding: 5%
}

.icon {
    margin-right: 5px;
}

.entries {
    width: 100%;
}

.cards {
    padding: 20px;
}

mat-drawer {
    width: 20%;
}

mat-drawer-container {
    height: 100%;

}

.profile-card {
    text-align: center;
    padding: 0 20px 20px 20px;
}

.image-manager {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.side-button {
    height: 40px;
    width: 20px;
}



