<div class="main">
    <mat-drawer-container class="example-container">
        <mat-drawer mode="side"
                    [opened]="sideBarOpen">

            <mat-nav-list>
                <div class="profile-card">
                    <div class="header">
                        <h2> {{user.nome}} </h2>
                        <h4> {{user.email}} </h4>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <h2 matSubheader>Page</h2>

                <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager-dashboard"><i class="material-icons icon" style="color: grey">directions_car</i>Dashboard</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/manager-dashboard/show-suggestions"><i class="material-icons icon" style="color: grey">message</i>Suggestions</a>
                <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" (click)="logout()"><i class="material-icons icon" style="color: grey">exit_to_app</i>Logout</a>

            </mat-nav-list>

        </mat-drawer>
        <mat-drawer-content>
            <!--

            <div *ngFor="let sensor of sensores">
                <a>{{sensor.id}} {{sensor.ocupado}}</a>
            </div>
            -->

            <div *ngIf="!sideBarOpen">
                <button mat-raised-button color="primary" (click)="toggleSideBar()"><i class="material-icons">
                    keyboard_arrow_right
                </i></button>
            </div>
            <div *ngIf="sideBarOpen">
                <button mat-raised-button color="primary" (click)="toggleSideBar()"><i class="material-icons">
                    keyboard_arrow_left
                </i></button>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" style="padding: 20px">
                <mat-card fxFlex="50">
                    <div class="inside-card col-md-12 col-lg-12 col-sm-12">
                        <a href="#" class="img" style="background-image: url(../../../../assets/images/marques.PNG);"></a>
                        <div>
                            <div class="row">
                                <div class="text">
                                    <h4>Parque Estacionamento Saba Marquês de Pombal</h4>
                                </div>
                            </div>
                            <div class="row mt-2 mb-2">
                                <button mat-raised-button routerLink="/manager-dashboard/edit/1">Editar</button>
                            </div>
                            <span class="location"> Aveiro </span>
                            <p class="price"><span class="orig-price">0 €<small>/h</small></span></p>
                            <img src="../../../../assets/images/marques.PNG" height="100%" width="100%"/>
                            <div class="row">
                                <a><img class="mr-2" src="../../../../assets/images/park.png" height="20" width="20">300</a>
                                <a><img class="mr-2" src="../../../../assets/images/handicap.png" height="20" width="20">4</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                </mat-card>
                <mat-card fxFlex="50">
                    <div>
                        <div>
                            <div>
                                <div style="display: block">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                                            [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                                            (chartClick)="chartClicked($event)"></canvas>
                                </div>
                                <button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards mt-3">
                <mat-card fxFlex="50">
                    stats
                </mat-card>
                <mat-card fxFlex="50">
                    stats
                </mat-card>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>

</div>
