<footer class="ftco-footer ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">FindMePark</h2>
          <p>The Simplest Way To Find Parking Lots Near You.</p>
          <ul class="ftco-footer-social list-unstyled mt-5">
            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4 ml-md-4">
          <h2 class="ftco-heading-2">Community</h2>
          <ul class="list-unstyled">
            <li><a routerLink="/nearme" ><span class="icon-long-arrow-right mr-2"></span>Find Near You</a></li>
            <li><a routerLink="/search"><span class="icon-long-arrow-right mr-2"></span>Search</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Company</h2>
          <ul class="list-unstyled">
            <li><a routerLink="/contact"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Have a Question?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">DETI,
                  campus universitário de santiago
                  3810-193 Aveiro, Portugal</span></li>
              <li><span class="icon icon-phone"></span><span class="text">+351 234 370 355</span></li>
              <li><span class="icon icon-envelope pr-4"></span><span class="text">sec@deti.ua.pt</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
