<section class="hero-wrap" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 pb-5 text-center" style="margin-top: 85px">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-9">
                                <div class="card mx-4">
                                    <div class="card-body p-4">
                                        <h1>Register</h1>
                                        <p class="text-muted">Create your account</p>
                                        <form [formGroup]="frmSignup" (submit)="submit()">
                                            <div class="form-group mb-3">
                                                <input class="form-control" formControlName="nome" type="text"  placeholder="Name" [ngClass]="frmSignup.controls['nome'].invalid ? 'is-invalid' : ''">
                                                <label class="text-danger" *ngIf="frmSignup.controls['nome'].hasError('minlength')">
                                                    Must be at least 3 characters!
                                                </label>
                                            </div>
                                            <div class="form-group mb-3">
                                                <input formControlName="email" type="email" class="form-control" placeholder="Email" [ngClass]="frmSignup.controls['email'].invalid ? 'is-invalid' : ''">
                                                <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('required')">
                                                    Email is Required!
                                                </label>
                                                <label class="text-danger" *ngIf="frmSignup.controls['email'].hasError('email')">
                                                    Enter a valid email address!
                                                </label>
                                            </div>
                                            <div class="form-group mb-3">
                                                <input class="form-control" formControlName="telefone" type="text"  placeholder="Phone Number" [ngClass]="frmSignup.controls['telefone'].invalid ? 'is-invalid' : ''">
                                                <label class="text-danger" *ngIf="frmSignup.controls['telefone'].hasError('minlength')">
                                                    Must be 9 characters!
                                                </label>
                                            </div>
                                            <div class="form-group mb-3">
                                                <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="frmSignup.controls['password'].invalid ? 'is-invalid' : ''">
                                                <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                                    <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                                                    frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
                                                        'check_circle' }}</i>
                                                    Must be at least 8 characters!
                                                </label>
                                                <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                                    <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                                                    frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
                                                        'check_circle' }}</i>
                                                    Must contain at least 1 number!
                                                </label>
                                                <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                                    <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                                                    frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                                                        'check_circle' }}</i>
                                                    Must contain at least 1 in Capital Case!
                                                </label>
                                                <label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                                    <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
                                                    frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                                                        'check_circle' }}</i>
                                                    Must contain at least 1 Letter in Small Case!
                                                </label>
                                            </div>
                                            <div class="form-group mb-4">
                                                <input type="password" class="form-control" formControlName="repeatpass" placeholder="Repeat password" [ngClass]="frmSignup.controls['repeatpass'].invalid ? 'is-invalid' : ''">
                                                <label class="text-danger" *ngIf="frmSignup.controls['repeatpass'].hasError('required')">
                                                    Password is Required!
                                                </label>
                                                <label class="text-danger" *ngIf="frmSignup.controls['repeatpass'].hasError('NoPassswordMatch')">
                                                    Password do not match
                                                </label>
                                            </div>
                                            <button [disabled]="frmSignup.invalid" type="submit" class="btn btn-primary">Create Account</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
