.hero-wrap{
    background-image: url("src/assets/images/bg_cars.jpg");
}
.is-invalid {
    border-left: solid 6px red;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}
label{
    align-self: initial;
}
