<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/">FindMePark</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" [routerLinkActive]='["active"]'><a routerLink="/home" class="nav-link">Home</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/nearme" class="nav-link">Near Me</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/search" class="nav-link">Search</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a routerLink="/contact" class="nav-link">Contact</a></li>
        <li class="nav-item" [routerLinkActive]="['active']"><a *ngIf="islogged" href="/manager-dashboard" class="nav-link">Manager</a></li>
        <li class="nav-item" [routerLinkActive]='["active"]'><a *ngIf="!islogged" routerLink="/login" class="nav-link">Sign In</a></li>
      </ul>
    </div>
  </div>
</nav>
