<div class="hero-wrap ftco-degree-bg" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text justify-content-center align-items-center">
      <div class="col-lg-8 col-md-6 d-flex align-items-end">
        <div class="text text-center">
          <h1 class="mb-4" style="color: white">The Simplest Way<br> To Find Parking Lots Near You</h1>
          <p style="font-size: 18px; color: white">We provide you data that allows you to find available parking lots in many different cities.</p>
          <p style="font-size: 18px; color: white">You can also find the best pricing range that fits you.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-first-page></app-first-page>
