<section class="hero-wrap" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 pb-5 text-center">
                <h1 class="mb-3 bread" style="color: white">Suggestions for {{user.email}}</h1>
                <mat-card style="padding:20px">
                        <h4>Assunto: {{suggestions.assunto}}</h4>
                        <h4>Mensagem: {{suggestions.mensagem}}</h4>
                </mat-card>
            </div>
        </div>
    </div>
</section>
