<section class="hero-wrap" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 pb-5 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a routerLink="/" style="color: white">Home <i class="ion-ios-arrow-forward" style="color: white"></i></a></span> <span style="color: white">Search <i class="ion-ios-arrow-forward" style="color: white"></i></span></p>
        <h1 class="mb-3 bread" style="color: white">Where do you want to Park?</h1>
        <form #searchForm="ngForm" class="search-location mt-md-5">
          <div class="row justify-content-center">
            <div class="col-lg-10 align-items-end">
              <div class="form-group">
                <div class="form-field">
                  <input class="form-control" ngModel name="location" type="text" placeholder="Search location">
                  <button (click)="submitSearchForm(searchForm.value)"><span class="ion-ios-search"></span></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="">
  <div *ngIf="renderCards">
    <div>
      <div class="container">
        <div class="row mt-5">
          <div class="dropdown">
            <button class="btn btn-filter dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filters
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" [ngClass]="{bold: isFree}" (click)="filterFree()">Free</a>
              <a class="dropdown-item">Another action</a>
              <a class="dropdown-item">Something else here</a>
            </div>
          </div>
          <div *ngFor="let filter of selectedfilters">
            <div class="filter_selected ml-2 mr-2">
              <span>{{filter}}</span> <a></a>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 60px">
          <div class="col-md-4" *ngFor="let parque of parques">
              <div class="property-wrap">
                <a href="#" class="img" style="background-image: url(../../../../assets/images/marques.PNG);"></a>
                <div class="text">
                  <p class="price"><span class="orig-price">{{parque.preco}} €<small>/h</small></span></p>
                  <ul class="property_list">
                    <li><img class="mr-2" src="../../../../assets/images/park.png" height="20" width="20">{{parque.totalLugares}}</li>
                    <li><img class="mr-2" src="../../../../assets/images/handicap.png" height="20" width="20"></li>
                  </ul>
                  <h3><a [routerLink]="['/park/', parque.id]"> {{parque.nome}} </a></h3>
                  <span class="location"> {{parque.localizacaoParque.cidade}} </span>
                  <a [routerLink]="['/park/', parque.id]" class="d-flex align-items-center justify-content-center btn-custom">
                    <span class="ion-ios-link"></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <li class="active"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</section>
