.hero-wrap{
  background-image: url("src/assets/images/bg_cars.jpg");
}

.a.img {
  content: url("src/assets/images/marques.PNG");
}
.property-wrap {
  margin-bottom: 60px;
}

.property-wrap .img {
  display: block;
  width: 100%;
  height: 250px;
}

.filter_selected {
  background-color: lightgray;
  padding: 4px;
  border-radius: 3px;
}

.btn-filter {
  background: #eca72c;
  color: white;
}

.bold {
  background-color: #b8b8b8;
}
