<section class="hero-wrap" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-12 pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a routerLink="/" style="color: black">Home <i class="ion-ios-arrow-forward" style="color: black"></i></a></span> <span style="color: black">Near Me <i class="ion-ios-arrow-forward" style="color: black"></i></span></p>
                <h1 class="mb-3 bread" style="color:#E8AE0D">Find a Park near you!</h1>
                <agm-map
                        [latitude]="latitude"
                        [longitude]="longitude"
                        [zoom]="zoom" >
                    <agm-marker
                            [latitude]="latitude"
                            [longitude]="longitude"></agm-marker>
                    <agm-marker
                            *ngFor="let m of parques;"
                            [latitude]="m.localizacaoParque.latitude"
                            [longitude]="m.localizacaoParque.longitude"
                            [iconUrl]="icon">
                        <agm-info-window>
                            <a [routerLink]="['/park/', m.id]">{{m.nome}}-See Details</a>
                        </agm-info-window>
                    </agm-marker>
                </agm-map>

            </div>
        </div>
    </div>
</section>
