<section class="hero-wrap" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 pb-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="card-group">
                            <div class="card p-4">
                                <div class="card-body">
                                    <form [formGroup]="validatingForm" (submit)="submit()">
                                        <h1>Login</h1>
                                        <p class="text-muted">Sign In to your account</p>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-user"></i></span>
                                            </div>
                                            <input formControlName="modalFormDarkEmail" type="text" class="form-control" placeholder="Username">
                                        </div>
                                        <div class="input-group mb-4">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="icon-lock"></i></span>
                                            </div>
                                            <input formControlName="modalFormDarkPassword" type="password" class="form-control" placeholder="Password">
                                        </div>
                                        <div class="row row justify-content-center">

                                            <div class="col-6">
                                                <button type="submit" class="btn btn-primary px-4">Login</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
                                <div class="card-body text-center">
                                    <div>
                                        <h2>Sign up</h2>
                                        <p>Don't have an account yet? Register for a full FindMePark experience and find a park more easily! </p>
                                        <button type="button" style="background-color: white;" class="btn btn-primary active mt-3" routerLink="/register">Register Now!</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
