<section class="hero-wrap" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 pb-5 text-center">
			<p class="breadcrumbs"><span class="mr-2"><a routerLink="/" style="color: white">Home <i class="ion-ios-arrow-forward" style="color: white"></i></a></span> <span style="color: white">Park <i class="ion-ios-arrow-forward" style="color: white"></i></span></p>
			<h1 class="mb-3 bread" style="color: white">Park Info</h1>
          </div>
        </div>
      </div>
</section>

	<section class="">
      <div class="container">
      	<div class="row mt-5 justify-content-center">
      		<div class="col-md-12">
      			<div class="property-details">
      				<div class="text text-center">
      					<span class="subheading">{{ parque.localizacaoParque.cidade }}</span>
      					<h2>{{ parque.nome }}</h2>
      				</div>
      			</div>
      		</div>
      	</div>
      	<div class="row">
      		<div class="col-md-12 pills">
						<div class="bd-example bd-example-tabs">
							<div class="d-flex justify-content-center">
							  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

							    <li class="nav-item">
							      <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Information</a>
							    </li>
							    <li class="nav-item">
							      <a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Description</a>
							    </li>
							  </ul>
							</div>

						  <div class="tab-content" id="pills-tabContent">
						    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
						    	<div class="row">
						    		<div class="col-md-4">
						    			<ul class="features">
						    				<li class="check"><span class="ion-ios-checkmark"></span><strong>Ocupation: </strong>{{parque.ocupacao}}</li>
						    			</ul>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="features">
											<ng-container
													*ngIf="available; then Available; else notAvailable">
											</ng-container>
											<ng-template #Available>
												<li class="check"><span class="ion-ios-checkmark"></span><strong>Available</strong></li>
											</ng-template>
											<ng-template #notAvailable>
												<li class="check"><span class="ion-ios-checkmark"></span><strong>Not Available</strong></li>
											</ng-template>
						    			</ul>
						    		</div>
						    		<div class="col-md-4">
						    			<ul class="features">
						    				<li class="check"><span class="ion-ios-checkmark"></span><strong>Price: </strong>{{parque.preco}}€/hour</li>
						    			</ul>
						    		</div>
						    	</div>
						    </div>

						    <div class="tab-pane fade" id="pills-manufacturer" role="tabpanel" aria-labelledby="pills-manufacturer-tab">
								<span>{{parque.nome}} is located at {{parque.localizacaoParque.morada}} in {{parque.localizacaoParque.cidade}} city.</span>
								<span>This park has a price of {{parque.preco}} euros per hour.</span>
						    </div>
						  </div>
						</div>
		      </div>
				</div>
      </div>
    </section>
