.hero-wrap{
  background-image: url("src/assets/images/bg_cars.jpg");
}

.a.img {
  content: url("src/assets/images/marques.PNG");
}
.property-wrap {
  margin-bottom: 60px;
}

.property-wrap .img {
  display: block;
  width: 100%;
  height: 250px;
}

.filter_selected {
  background-color: lightgray;
  padding: 4px;
  border-radius: 3px;
}

.btn-filter {
  background: #eca72c;
  color: white;
}

.bold {
  background-color: #b8b8b8;
}

.ftco-section {
  padding: 6em 0;
  position: relative; }
  @media (max-width: 767.98px) {
    .ftco-section {
      padding: 6em 0; } }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.ftco-bg-dark {
  background: #3c312e; }

.ftco-footer {
  font-size: 16px;
  padding: 7em 0;
  background: rgba(0, 0, 0, 0.02); }
  .ftco-footer .ftco-footer-logo {
    text-transform: uppercase;
    letter-spacing: .1em; }
  .ftco-footer .ftco-footer-widget h2 {
    font-weight: normal;
    color: #000000;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 400; }
  .ftco-footer .ftco-footer-widget ul li a {
    color: rgba(0, 0, 0, 0.8); }
    .ftco-footer .ftco-footer-widget ul li a span {
      color: #eca72c; }
  .ftco-footer .ftco-footer-widget .btn-primary {
    background: #fff !important;
    border: 2px solid #fff !important; }
    .ftco-footer .ftco-footer-widget .btn-primary:hover {
      background: #fff;
      border: 2px solid #fff !important; }
  .ftco-footer p {
    color: rgba(0, 0, 0, 0.7); }
  .ftco-footer a {
    color: #eca72c; }
    .ftco-footer a:hover {
      color: #eca72c; }
  .ftco-footer .ftco-heading-2 {
    font-size: 17px;
    font-weight: 400;
    color: #000000; }

.ftco-footer-social li {
  list-style: none;
  margin: 0 10px 0 0;
  display: inline-block; }
  .ftco-footer-social li a {
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative; }
    .ftco-footer-social li a span {
      position: absolute;
      font-size: 26px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .ftco-footer-social li a:hover {
      color: #fff; }

.ftco-property-details .services .media-body .icon span {
  color: rgba(0, 0, 0, 0.8); }

.ftco-property-details .services .media-body .text h3 {
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.4); }
  .ftco-property-details .services .media-body .text h3 span {
    display: block;
    color: #000000; }

