<section class="section">
  <div class="container">
    <div class="row justify-content-center">
    <
      <div class="col-md-12 heading-section text-center mb-5">
        <span class="subheading">Our Services</span>
        <h2 class="mb-2">The easiest way to find Parking Lots</h2>
      </div>
    </div>
    <div class="row d-flex">
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center"><div class="clock"></div></div>
          <div class="media-body py-md-4">
            <h3>Real-Time Availability</h3>
            <p>We collaborate with a number of different companies to provide you all the data you need anytime, anywhere.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center"><div class="sensor"></div></div>
          <div class="media-body py-md-4">
            <h3>Trustworthy Information</h3>
            <p>We use the lastest generation of sensores to make sure all information is presented correctly.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center"><div class="hand"></div></div>
          <div class="media-body py-md-4">
            <h3>Pricing</h3>
            <p>We present you parking lots with different pricing ranges. From free to more expensive ones.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 d-flex align-self-stretch">
        <div class="media block-6 services d-block text-center">
          <div class="icon d-flex justify-content-center align-items-center"><div class="wheelchair"></div></div>
          <div class="media-body py-md-4">
            <h3>Handicap Spots</h3>
            <p>We provide information about handicap spots for those who need the most.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
