div.clock{
  content: url("src/assets/images/clock.png") ;
  height: 90px;
  width: 90px;
}
div.sensor{
  content: url("src/assets/images/sensor.png") ;
  height: 90px;
  width: 90px;
}
div.hand {
  content: url("src/assets/images/hand.png") ;
  height: 90px;
  width: 90px;
}
div.wheelchair {
  content: url("src/assets/images/wheelchair.png") ;
  height: 90px;
  width: 90px;
}
section.section{
  margin-top: 20px;
}
